<hr>
<hr>
<h3>Adição</h3>
<p>{{ 5 | somaPor: 5}}</p>
<p>{{ 250 | somaPor: 4}}</p>
<p>{{ 7 | somaPor: 7}}</p>
<p>{{ 15 | somaPor: 8}}</p>
<p>{{ 5 | somaPor: 2}}</p>
<hr>
<hr>
<h3>Subtração</h3>
<p>{{ 5 | subtraiaPor: 5}}</p>
<p>{{ 250 | subtraiaPor: 4}}</p>
<p>{{ 7 | subtraiaPor: 7}}</p>
<p>{{ 15 | subtraiaPor: 8}}</p>
<p>{{ 5 | subtraiaPor: 2}}</p>
<hr>
<hr>

<h3>Multiplicação</h3>
<p>{{ 5 | multiplicaPor: 5}}</p>
<p>{{ 250 | multiplicaPor: 4}}</p>
<p>{{ 7 | multiplicaPor: 7}}</p>
<p>{{ 15 | multiplicaPor: 8}}</p>
<p>{{ 5 | multiplicaPor: 2}}</p>
<hr>
<hr>

<h3>Divisão</h3>
<p>{{ 5 | dividaPor: 5}}</p>
<p>{{ 250 | dividaPor: 4}}</p>
<p>{{ 7 | dividaPor: 7}}</p>
<p>{{ 15 | dividaPor: 8}}</p>
<p>{{ 5 | dividaPor: 2}}</p>
<hr>
<hr>