<app-primeiro-componente></app-primeiro-componente>
<app-segundo-componente></app-segundo-componente>
<app-operadores></app-operadores>
<app-two-way-data-binding></app-two-way-data-binding>
<app-renderizando-listas></app-renderizando-listas>
<app-componente-personalizado nome = "João" sobrenome = "Grilo"></app-componente-personalizado>
<app-componente-personalizado nome = "Chicó"></app-componente-personalizado>
<app-componente-pai></app-componente-pai>
<app-exemplo-service1></app-exemplo-service1>
<app-exemplo-service2></app-exemplo-service2>
<app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>